{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block content %}
        {% include 'main/navbar_light.html' %}
        <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100">
            <!--div class="bg-overlay bg-overlay-white"></div-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title">Upload Question{{ assignment.num_questions|pluralize }}</h4>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Assignment</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Upload</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->
        <!-- Start Section -->
        <section class="section">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8  mt-1 pt-2">
                        <div class="card shadow rounded border-0">
                            <div class="card-body py-5">
                                <h4 class="card-title">Assignment ID: {{assignment.public_id}}</h4>
                                <div class="alert alert-outline-primary">Write your questions in the text box below. You can also mail your questions to <b>support@xpresstutor.com</b> with your assigment id in the subject line. </div>
                                <div class="custom-form mt-4">
                                    <div id="message">
                                        {% include 'main/flash_message.html' %}
                                    </div>
                                    <form  id ="assignment-uplaod-form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                    <label class="form-label">Question</label>
                                                    {% render_field form.question_text class="form-control pl-4" placeholder="Your message here."%}
                                            </div><!--end col-->
                                            <div class="col-md-12 mt-3">
                                                <div class="form-group position-relative">
                                                    <label class="form-label">Note/ Special Instruction</label>
                                                    {% render_field form.question_note class="form-control pl-4" placeholder="Your message here."%}
                                                </div>
                                            </div><!--end col-->
                                             <div class="col-md-12 mt-3">
                                                <div class="form-group position-relative">
                                                    <label class="form-label">Upload File <span class="text-muted">(max 5MB)</span> :</label>
                                                    {% render_field form.file class="form-control" type="file" %}
                                                    <small class="text-muted">If you have multiple files, you can zip them together or send us in email.</small>
                                                </div>

                                            </div><!--end col-->

                                        </div><!--end row-->
                                        <div class="row">
                                            <div class="d-grid gap-2 mt-3">
                                                <button type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block"><i class="fa fa-cloud-upload-alt me-3"></i> Upload Assignment</button>
                                                <div id="simple-msg"></div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->
                                </div><!--end custom-form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-4 pl-md-3 pr-md-3 mt-1 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0 mb-4">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-paperclip"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Have multiple files</h5>
                                <p class="para text-muted mb-0">You can zip all of them together or send an email to <span class="text-primary">support@xpresstutor.com</span> with your assignment id in subject line.</p>
                            </div>
                        </div>
                        <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0 mb-4">
                            <span class="h1 icon2 text-primary">
                                <i class="far fa-file-alt"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>How will I receive answer{{ assignment.num_questions|pluralize }}</h5>
                                <p class="para text-muted mb-0">Your answers will be sent by an email to <span class="text-primary">{{ assignment.email }}</span> within {{ assignment.duration }} hrs.</p>
                            </div>
                        </div>
                        <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="far fa-sticky-note"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>What is Note/ Instruction</h5>
                                <p class="para text-muted mb-0">Anything which you feel the tutor should keep in mind while solving questions. It can a a special method of solving or link to a url etc.</p>
                            </div>
                        </div>

                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section><!--end section-->
        <!-- End Section -->

{% endblock %}
{% block body_end %}
<script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script>
            CKEDITOR.replace( 'id_question_text', {
    toolbar: [
    { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
    { name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
    { name: 'links', items: [ 'Link', 'Unlink' ] },
    { name: 'insert', items: [ 'Table', 'SpecialChar' ] },
    { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
    { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
    { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
    ]
    });
    </script>
    <script>
        var uploadField = document.getElementById("id_file");
        uploadField.onchange = function() {
            if(this.files[0].size > 5242880){
               alert("Oops! This file is too big for uploading.\nPlease choose a file lesser than 5MB");
               this.value = "";
            };
        };
    </script>
{% endblock %}