{% extends "main/base.html" %}
{% load widget_tweaks %}
{% block content %}
        {% include 'main/navbar_light.html' %}

        <!-- Start Contact -->
        <section class="section">
            <div class="container">
                <div class="row mt-100">
                    <div class="col-lg-7 col-md-6 col-12 mt-4 pt-2">
                        <div class="card rounded border-0 shadow">
                            <div class="bg-light p-4 text-center rounded-top">
                                <h4 class="mb-0 card-title text-primary">Price Calculator</h4>
                            </div>

                            <div class="card-body">
                                <form id ="price-check-form" method="post" action="">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div id="message col-md-12">
                                            {% include 'main/flash_message.html' %}
                                        </div>
                                        <div class="col-md-6 mb-3">
                                                <label class="form-label">Subject :</label>
                                                {% render_field form.subject class="form-select"%}
                                        </div><!--end col-->
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Grade :</label>
                                            {% render_field form.grade class="form-select"%}
                                        </div><!--end col-->
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Grade :</label>
                                                {% render_field form.duration class="form-select"%}
                                        </div><!--end col-->
                                        <div class="col-md-6 mb-3">
                                            <label class="form-label">Number of Questions :</label>
                                                {% render_field form.num_questions class="form-control font-weight-bold" min=1 max=999%}

                                        </div><!--end col-->
                                        <div class="col-md-12 mb-3">
                                            <div class="form-check form-switch">
                                                {% render_field form.short_answer class="form-check-input" type="checkbox" onchange="calculate_price();" %}
                                                <!--input id="id_short_answer" name="short_answer" class="form-check-input" type="checkbox" onchange="calculate_price();"-->
                                                <label class="form-check-label" for="id_short_answer">Only Answer <span class="text-primary">(Without steps)</span></label>
                                            </div>

                                        </div><!--end col-->
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Email : </label>
                                                {% render_field form.email class="form-control"%}
                                        </div><!--end col-->
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1> <span id="id_price_label" class="btn btn-secondary mr-3">$10</span> <button type="submit" id="submit" name="send" class="btn btn-primary"><i class="fa fa-upload mr-2"></i>Pay & Upload</button></h1>

                                            <br/>
                                            <span id="id_price_answer" class="badge bg-info mt-1">$8 per answer</span><br/><br/>
                                            {% if user.is_authenticated %}
                                            <small>{{ site_settings.url }}<span id="id_price_link"></span></small>
                                            {% endif %}

                                        </div><!--end col-->

                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-5 col-md-6 col-12 mt-4 pt-2">
                        <div class="card work-process border-0 rounded shadow mb-3">
                            <div class="card-body">
                                <h4 class="title">Check Price</h4>
                                <p class="text-muted para">Quickly check the price using the price calculator, or send an email to <span class="text-primary">support@xpresstutor.com</span> for quote.</p>
                                <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                                    <li class="step h1 mb-0 font-weight-bold">Step 1.</li>
                                    <li class="step-icon"><i class="far fa-check-square fa-3x"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card work-process border-0 rounded shadow mb-3">
                            <div class="card-body">
                                <h4 class="title">Pay & Upload Questions</h4>
                                <p class="text-muted para">Pay and upload the questions. In few cases we may come back for clarification or approval for price revision</p>
                                <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                                    <li class="step h1 mb-0 font-weight-bold">Step 2.</li>
                                    <li class="step-icon"><i class="far fa-square fa-3x"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card work-process border-0 rounded shadow">
                            <div class="card-body">
                                <h4 class="title">Get Answers on Email</h4>
                                <p class="text-muted para">Detailed solution is emailed to you within given timeline. We are happy to help with clarification if any.</p>
                                <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                                    <li class="step h1 mb-0 font-weight-bold">Step 3.</li>
                                    <li class="step-icon"><i class="far fa-square fa-3x"></i></li>
                                </ul>
                            </div>
                        </div>

                    </div><!--end col-->


                </div><!--end row-->
            </div><!--end container-->

        </section>
        {% include 'main/blocks/testimonial.html' %}

{% endblock %}
{% block body_end %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        function calculate_price() {
            $("#id_price_label").html('<i class="fa fa-spinner"></i>');
            var form_data = {'subject':$('#id_subject').val(),'grade':$('#id_grade').val(),'duration':$('#id_duration').val(),'num_questions':$('#id_num_questions').val(),'short_answer':$('#id_short_answer').is(':checked')};
            var resp = $.post('/payment/calculate/',form_data,function (data) {
                $("#id_price_label").html("$" + data );
                if ($('#id_short_answer').is(':checked')){
                    $("#id_price_answer").html("$" + data / document.getElementById('id_num_questions').value + " per Answer");
                }
                else {
                    $("#id_price_answer").html("$" + data / document.getElementById('id_num_questions').value + " per Answer (with step by step solution)");
                }
                //$("#id_price_answer").html("$" + parseInt(data)/parseInt($("#id_num_questions").value));
            });
            var price = resp.toString();
            s = $('#id_subject').val();
            g = $('#id_grade').val();
            d = $('#id_duration').val();
            n = $('#id_num_questions').val();
            a = "0";
            if ($('#id_short_answer').is(':checked')){
                a = "1"
            }
            url = 'payment/price-check?s='+s + '&g=' + g + '&d=' + d + '&n=' + n + '&a=' + a
            $('#id_price_link').html(url)
        }
        $( document ).ready(function() {
            calculate_price();
        });
    </script>
{% endblock %}