{% extends "main/base.html" %}
{% block content %}
        {% include 'main/navbar_light.html' %}
<style>
    .radio_item{
    display: none !important;
    }

    .label_item {
    opacity: 0.3;
    }

    .label_item img {
        max-height: 64px;
    }

    .radio_item:checked + label {
    opacity: 1;
    border: 3px solid rebeccapurple;
        border-radius: 5px;
    }

    label {
    cursor: pointer;
    }
</style>
        <!-- Start Contact -->
        <section class="section">
            <!-- Payment and Price Start -->
            <div class="container mt-100">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">Additional Payment [{{ assignment.public_id }}]</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Our expert is waiting for you to make the balance payment for the assignment {{ assignment.public_id }}. They will start as soon as the payment is confirmed.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2">
                        <div class="card bg-light shadow rounded border-0">
                            <div class="bg-primary p-4 text-center rounded-top">
                                <h4 class="mb-0 card-title title-dark text-light">Complete Payment</h4>
                            </div>

                            <div class="card-body">
                                <div class="d-flex justify-content-center mb-4">
                                    <span class="h4 mb-0 mt-2 text-primary">$</span>
                                    <span class="price text-primary fw-bold display-4 mb-0">{{ price }}</span>
                                    <span class="h6 align-self-end fw-bold text-uppercase mb-2 ml-2"> USD</span>
                                </div>
                                    <div class="row text-secondary mb-5">
                                        <div class="h4 col-12 mb-4"><i class="far fa-file-alt text-info me-2"></i>{{ assignment.get_subject_display }} (Additional Payment)<br/>ID:  {{ assignment.public_id }}</div>
                                    </div>
                                <div class="row">
                                   <!--RADIO 1-->
                                    <div class="col-12">
                                    <input type="radio" class="radio_item me-3" value="cc" name="gateway" id="radio_cc" checked>
                                        <label class="label_item me-4" for="radio_cc"> <img src="/static/xt/img/payments/credit-cards.png"> </label>

                                    <!--RADIO 2-->
                                    <input type="radio" class="radio_item me-3" value="pp" name="gateway" id="radio_pp">
                                    <label class="label_item" for="radio_pp"> <img src="/static/xt/img/payments/paypal.png"> </label>
                                    </div>
                                    <div class="col-12 mb-0" style="display: none" id="pp_warning">
                                        <span class="text-danger">An additional <b>2%</b> is levied on payments through PayPal</span>
                                    </div>

                                </div>
                                <div class="d-grid gap-2">
                                <button id="checkout-button" class="btn btn-primary btn-block mt-4 pt-2"><i class="fa fa-credit-card me-3"></i>Pay Now</button>
                                </div>

                            </div>
                        </div>
                    </div><!--end col-->


                    <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2">
                        <div class="accordion mt-4 pt-2" id="refundquestions">
                            {% for f in faqs %}
                                <div class="accordion-item rounded mb-2">
                                    <h2 class="accordion-header" id="heading-ref-{{ forloop.counter }}">
                                        <button class="accordion-button border-0 bg-light {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ref-{{ forloop.counter }}"
                                                aria-expanded="true" aria-controls="collapse-ref-{{ forloop.counter }}">
                                            {{ f.question }}
                                        </button>
                                    </h2>
                                    <div id="collapse-ref-{{ forloop.counter }}" class="accordion-collapse border-0 collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-ref-{{ forloop.counter }}"
                                         data-bs-parent="#refundquestions">
                                        <div class="accordion-body text-muted bg-white">
                                            {{ f.answer|safe }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
            <!-- Payment and Price End -->

        <!-- Process Start -->
            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h4 class="title mb-4">Pay with your credit card or wallet</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">You can securely pay with your credit card, Paypal or wallets like Apple/Google Pay. </p>
                        </div>
                        <div class="mt-4">
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/discover.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="Discover" alt=""></a>
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/maestro.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="Maestro" alt=""></a>
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/paypal.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="Paypal" alt=""></a>
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/master-card.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="Master Card" alt=""></a>
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/visa.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="Visa" alt=""></a>
                            <a href="javascript:void(0)"><img src="/static/xt/img/payments/payment/american-express.jpg" class="img-fluid avatar avatar-small mx-2 mt-4 rounded-circle shadow" data-toggle="tooltip" data-placement="top" title="American Express" alt=""></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section>
    {% include 'main/blocks/testimonial.html' %}
    <div id="payapl_div" style="display: none;">>
        {{ paypal_form | safe }}
    </div>
{% endblock %}

{% block body_end %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ settings.STRIPE_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");

    $('input[type="radio"]').click(function() {
       if($(this).attr('id') == 'radio_pp') {
            $('#pp_warning').show();
       }

       else {
            $('#pp_warning').hide();
       }
   });

    checkoutButton.addEventListener("click", function () {
        gw = $("input[name='gateway']:checked").val();
        if (gw == 'pp'){
            $("#paypal-button").submit();
        } else {
            fetch("/stripe/create_session_add/{{assignment.public_id}}", {
            method: "POST",
            })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              // If redirectToCheckout fails due to a browser or network
              // error, you should display the localized error message to your
              // customer using error.message.
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error("Error:", error);
            });

        }
    });
  </script>
{% endblock %}