<section class="content-block content-2-3 bg-deepocean">
            <div class="container">
                <div class="col-sm-7 pull-left">
                    <h2>Click here to check the price</h2>
                </div>
                <div class="col-sm-4 pull-right">
                    <div class="input-group">
                        <a href="/payment/price-check/" class="btn btn-primary" type="button"><i class="fa fa-usd"></i>  Check Price</a>
                    </div>
                    <!-- /.input-group -->
                </div>
            </div>
            <!-- /.container -->
        </section>