{% load static %}
<!-- Testi start -->
<div class="section bg-light">
<div class="container mt-100 mt-60">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="section-title mb-4 pb-2">
                <h4 class="title mb-4">User's Stories</h4>
                <p class="text-muted para-desc mx-auto mb-0">These are testimonials from few of our <span class="text-primary fw-bold">happy customers</span>. Few names have been changed for privacy..</p>
            </div>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        <div class="col-12 mt-4 pt-2">
            <div class="tiny-three-item">
                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/panda.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">" Easy to understand solution for complicated questions..fast and reliable. "</p>
                            <h6 class="text-primary">- Scott Mclaughlin <small class="text-muted">Ohio State University</small></h6>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/bee.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">" I am not stressed about Math anymore, all thanks to XpressTutor.com "</p>
                            <h6 class="text-primary">- Judith Marin <small class="text-muted">Temple University</small></h6>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/zebra.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">" I am confident that I will get two grades higher with the help from XpressTutor.com. "</p>
                            <h6 class="text-primary">- P Sherman <small class="text-muted">University of Sydney</small></h6>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/dolphin.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">" I was struggling with my online Statistics class. I had given all hope before I discovered XpressTutor. Thanks a lot! "</p>
                            <h6 class="text-primary">- Christa Smith <small class="text-muted">MyStatLab</small></h6>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/bear.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">"  I was really scared when my assignment got a little delayed. It was excellent quality and I got 93/100 :-) "</p>
                            <h6 class="text-primary">- Dean Tolle <small class="text-muted">University of Victoria</small></h6>
                        </div>
                    </div>
                </div>

                <div class="tiny-slide">
                    <div class="card client-testi border-0 text-center">
                        <div class="card-body">
                            <img src="{% static "xt/img/animals-icons/leopard.png" %}" class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                            <p class="text-muted mt-4">" I have used XpressTutor in four consecutive semesters. They have never disappointed me.  "</p>
                            <h6 class="text-primary">-  Jill Webb <small class="text-muted">Georgia Institute of Technology</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-2 col-md-2 col-6 text-center">
            <img src="images/client/amazon.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center">
            <img src="images/client/google.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
            <img src="images/client/lenovo.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
            <img src="images/client/paypal.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
            <img src="images/client/shopify.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->

        <div class="col-lg-2 col-md-2 col-6 text-center mt-4 mt-sm-0">
            <img src="images/client/spotify.svg" class="avatar avatar-ex-sm" alt="">
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
</div>
<!-- Testi end -->