<!DOCTYPE html>
<html lang="en">
<body>

Dear Webmaster,<br/><br/>
{{ name }} sent you a message. The details are given below:<br/><br/>
****************************************************<br/>
<b>Name</b>: {{ name }}<br/>
<b>Email</b>: {{ email }}<br/>
<b>Message</b>: {{ message }}<br/>
****************************************************

</body>
</html>