{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta.description }}" />
    <meta name="keywords" content="{{ meta.keywords }}" />
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static "xt/img/favicon.png" %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- tobii css -->
    <link href="{% static "theme/css/tobii.min.css" %}" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="{% static "theme/css/materialdesignicons.min.css" %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <!-- Slider -->
    <link rel="stylesheet" href="{% static "theme/css/tiny-slider.css" %}"/>
    <!-- Main Css -->
    <link href="{% static "theme/css/style.css" %}" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="{% static "theme/css/colors/default.css" %}" rel="stylesheet" id="color-opt">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M3SQ4MK');</script>
    <!-- End Google Tag Manager -->

</head>

<body>
<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->


{% block content %}
{% endblock %}

<!-- Footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-py-60">
                    <div class="row">
                        <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                            <a href="#" class="logo-footer">
                                <img src="{% static "xt/img/logo-light.png" %}"  height="48" alt="">
                            </a>
                            <h5 class="mt-3">Over <b style="color: wheat">250,000</b> questions answered.</h5>
                            <p class="mt-4">Every assignment in XpressTutor goes for another round of quality and plagiarism check to get you closer to an A grade.</p>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="https://twitter.com/XPressTutor" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->

                        <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Company</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/payment/price-check" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Pricing</a></li>
                                <li><a href="/about/faqs" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> FAQs</a></li>
                                <li><a href="/about/terms" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms</a></li>
                                <li><a href="/about/privacy" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy</a></li>
                                <li><a href="/about/contact" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Contact</a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Subjects</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="/help/statistics" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Statistics Help</a></li>
                                <li><a href="/help/mathematics" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Mathematics Help</a></li>
                                <li><a href="/help/programming-databases" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Programming Help</a></li>
                                <li><a href="/help/management" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Management Help</a></li>
                                <li><a href="/help/engineering" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Engineering Help</a></li>
                                <li><a href="/help/physics" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Physics Help</a></li>
                            </ul>
                        </div><!--end col-->

                        <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                            <h5 class="footer-head">Available 24/7</h5>
                            <p class="mt-4">Our experts work across time zones to provide round the clock academic help in 100+ subjects.</p>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="d-grid">
                                            <a class="btn btn-soft-primary btn-block" href="/payment/price-check"><i class="fa fa-graduation-cap mr-2"></i> Get Expert Help</a>
                                        </div>
                                    </div>
                                </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="text-sm-start">
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> <b>Sandiv Consultancy LLC</b>. All rights reserved.</p>
                    </div>
                </div><!--end col-->

                <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <ul class="list-unstyled text-sm-end mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static "theme/images/payments/american-ex.png" %}" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static "theme/images/payments/discover.png" %}" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static "theme/images/payments/master-card.png" %}" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static "theme/images/payments/paypal.png" %}" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="{% static "theme/images/payments/visa.png" %}" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer><!--end footer-->
<!-- Footer End -->
{% if 'xt_user' not in request.COOKIES %}
<!-- Cookies Start -->
<div class="cookie-popup bg-white shadow rounded py-3 px-4">
    <p class="text-muted mb-0">This website uses cookies to provide you with a great user experience. By using it, you accept our <a href="/about/privacy" target="_blank" class="text-success h6">use of cookies</a></p>
    <div class="cookie-popup-actions text-end">
        <button><i class="uil uil-times text-dark fs-4"></i></button>
    </div>
</div><!--Note: Cookies Js including in plugins.init.js (path like; js/plugins.init.js) and Cookies css including in _helper.scss (path like; scss/_helper.scss)-->
<!-- Cookies End -->
{% endif %}

<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
<!-- Back to top -->

<!-- javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!-- SLIDER -->
<script src="{% static "theme/js/tiny-slider.js" %}"></script>
<!-- tobii js -->
<script src="{% static "theme/js/tobii.min.js" %}"></script>
<!-- Icons -->
<script src="{% static "theme/js/feather.min.js" %}"></script>
<!-- Switcher -->
<script src="{% static "theme/js/switcher.js" %}"></script>
<!-- Main Js -->
<script src="{% static "theme/js/plugins.init.js" %}"></script><!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src="{% static "theme/js/app.js" %}"></script><!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
{% block body_end %}
{% endblock %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/55d34ae676dcf7be423c8505/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

        </body>
</html>