<div class="row mt-2 mb-1 ml-2">
            {% for message in messages %}
              <div class="alert {% if message.tags == "error" %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                  {{ message| safe }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            <!--end of messages-->
        </div>