{% extends "main/base.html" %}
{% load static %}
{% block content %}
    {% include 'main/navbar_dark.html' %}
<!-- Hero Start -->
        <section class="bg-half-170 pb-0 bg-primary d-table w-100" style="background: url('static/theme/images/bg2.png') center center;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="title-heading">
                            <h4 class="text-white-50">Need Help with Your Questions?</h4>
                            <h4 class="heading text-white title-dark"> Get Expert Help in <br><span class="element" data-elements="Statistics, Economics, Mathematics, Programming, Finance, Engineering"></span> </h4>
                            <p class="para-desc text-white-50">We provide tutoring & expert help in Statistics, Mathematics, Physics, Economics, Engineering and many other subjects.</p>
                            <div class="mt-4 pt-2">
                                <a href="/payment/price-check" class="btn btn-light"><i class="fa fa-graduation-cap mr-2"></i> Get Expert Help</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6 mt-5 mt-sm-0">
                        <img src="{% static "xt/img/hero2.png" %}" class="img-fluid" alt="">
                    </div>
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Partners start -->
        <section class="py-4 bg-light">
            <div class="container">
                <div class="row" id="counter">
                    <div class="col-md-4">
                        <div class="counter-box text-center">
                            <h2 class="mb-0 mt-3 title-dark display-4 text-primary"><i class="fa fa-dollar"></i> <span class="counter-value" data-count="250">1</span>,000</h2>
                            <h5 class="counter-head title-dark text-primary"><i class="fa fa-file-download me-2"></i> Questions answered</h5>
                        </div><!--end counter box-->
                    </div>

                    <div class="col-md-4 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="counter-box text-center">
                            <h2 class="mb-0 mt-3 title-dark display-4 text-primary"><span class="counter-value" data-count="18">0</span></h2>
                            <h5 class="counter-head title-dark text-primary"><i class="fa fa-flag-checkered me-2"></i> Countries</h5>
                        </div><!--end counter box-->
                    </div>

                    <div class="col-md-4 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="counter-box text-center">
                            <h2 class="mb-0 mt-3 title-dark display-4 text-primary"><span class="counter-value" data-count="10">1</span>,000</h2>
                            <h5 class="counter-head title-dark text-primary"><i class="fa fa-users me-3"></i> Customers</h5>
                        </div><!--end counter box-->
                    </div>
                </div><!--end row-->
        <!-- Counter End -->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Partners End -->

        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title mb-4 pb-2">
                            <h4 class="title mb-4">How are we different?</h4>
                            <p class="text-muted para-desc mb-0 mx-auto"><span class="text-primary font-weight-bold">XpressTutor.com</span> is known for its commitment to quality and timeline, but this is not the only reason.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-dollar-sign"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Affordable Pricing</h5>
                                <p class="para text-muted mb-0">quality answer for the price of a coffee</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="fa fa-dollar-sign"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-chalkboard-teacher"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Top Tutors</h5>
                                <p class="para text-muted mb-0">tutors from premier colleges all over the world.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="fa fa-chalkboard-teacher"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-shield-alt"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Full Privacy</h5>
                                <p class="para text-muted mb-0">full commitment to the privacy of the customers.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="fa fa-shield-alt"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="far fa-calendar-check"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>In Time..Every Time</h5>
                                <p class="para text-muted mb-0">guaranteed delivery within given timeline.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="far fa-calendar-check"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="far fa-clock"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>24/7 Support</h5>
                                <p class="para text-muted mb-0">24/7 online availability of quality tutors.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="far fa-clock"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-users"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Happy Customers</h5>
                                <p class="para text-muted mb-0">10,000+ happy customers from 18 countries.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="fa fa-users"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="far fa-file-alt"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Detailed Solution</h5>
                                <p class="para text-muted mb-0">answers with detailed steps unless asked otherwise.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="far fa-file-alt"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-3 col-md-4 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light text-center position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="fa fa-fingerprint"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Security</h5>
                                <p class="para text-muted mb-0">hosted in secure AWS cloud with 256 bit encryption.</p>
                            </div>
                            <span class="big-icon text-center">
                                <i class="fa fa-fingerprint"></i>
                            </span>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-12 text-center col-md-4 mt-4 pt-2">
                        <a href="/payment/price-check" class="btn btn-primary">Check Price <i class="fa fa-arrow-circle-right ml-2"></i></a>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <section class="section bg-light">
            <!-- About Start -->
            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-6 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                    <div class="card-body p-0">
                                        <img src="{% static "xt/img/solutions/or.png" %}" class="img-fluid" alt="work-image">
                                        <div class="overlay-work bg-dark"></div>
                                        <div class="content">
                                            <a href="javascript:void(0)" class="title text-white d-block font-weight-bold">Operations Research</a>
                                            <small class="text-light">Management & Finance</small>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-6 col-6">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                                        <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                            <div class="card-body p-0">
                                                <img src="{% static "xt/img/solutions/probability.png" %}" class="img-fluid" alt="work-image">
                                                <div class="overlay-work bg-dark"></div>
                                                <div class="content">
                                                    <a href="javascript:void(0)" class="title text-white d-block font-weight-bold">Decision Tree</a>
                                                    <small class="text-light">Probability & Statistics</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 col-md-12 mt-4 pt-2">
                                        <div class="card work-container work-modern overflow-hidden rounded border-0 shadow-md">
                                            <div class="card-body p-0">
                                                <img src="{% static "xt/img/solutions/math.png" %}" class="img-fluid" alt="work-image">
                                                <div class="overlay-work bg-dark"></div>
                                                <div class="content">
                                                    <a href="javascript:void(0)" class="title text-white d-block font-weight-bold">Calculus</a>
                                                    <small class="text-light">Mathematics</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 mt-4 mt-lg-0 pt- pt-lg-0">
                        <div class="ml-lg-4">
                            <div class="section-title mb-4 pb-2">
                                <h4 class="title mb-4">Quality Solutions</h4>
                                <p class="text-muted para-desc">Experts in <span class="text-primary font-weight-bold">XpressTutor.com</span> work in multiple timezones to ensure quick delivery and 24/7 availability.</p>
                                <p class="text-muted para-desc mb-0">Our experts can help with your assignments in Mathematics, Physics, Chemistry, Statistics, Economics, Programming and Management. All you need is just post your assignment! It's that simple. Really!.</p>
                            </div>

                            <ul class="list-unstyled text-muted">
                                <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle"></i></span>Affordable Pricing</li>
                                <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle"></i></span>Top Quality Experts</li>
                                <li class="mb-0"><span class="text-primary h4 me-2"><i class="uil uil-check-circle"></i></span>Security & Privacy</li>
                            </ul>

                            <div class="watch-video mt-4 pt-2">
                                <a href="/payment/price-check" class="btn btn-primary mb-2">Check Price <i class="far fa-chevron-right ml-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div><!--end container-->
        </section>
    {% include 'main/blocks/testimonial.html' %}
    <section class="section">
            <div class="container mt-100 mt-60">
                <div class="rounded bg-primary p-lg-5 p-4">
                    <div class="row align-items-end">
                        <div class="col-md-8">
                            <div class="section-title text-md-left text-center">
                                <h4 class="title mb-3 text-white title-dark">Get an A+ grade. Connect with top tutors.</h4>
                                <p class="text-white-50 mb-0">Statistics, Mathematics, Physics, Economics, Finance, Engineering and many more.</p>
                            </div>
                        </div><!--end col-->

                        <div class="col-md-4 mt-4 mt-sm-0">
                            <div class="text-md-right text-center">
                                <a href="/payment/price-check" class="btn btn-light">Connect Now</a>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end container-->
        </section><!--end section-->


        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h6 class="text-primary">As easy as 1,2,3 </h6>
                            <h4 class="title mb-4">How does it work?</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Getting top quality answers with XpressTutor.com is quick, easy and secure.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
                            <div class="icons text-primary text-center mx-auto">
                                <i class="fa fa-dollar-sign rounded h3"></i>
                            </div>

                            <div class="card-body">
                                <h4 class="title text-dark">Calculate Price</h4>
                                <p class="text-muted mb-0">Price calculator checks the price based on subject, grade, number of questions etc</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-md-5 pt-md-3 mt-4 pt-2">
                        <div class="card features feature-clean work-process bg-transparent process-arrow border-0 text-center">
                            <div class="icons text-primary text-center mx-auto">
                                <i class="fa fa-upload rounded h3"></i>
                            </div>

                            <div class="card-body">
                                <h4 class="title text-dark">Pay & Upload</h4>
                                <p class="text-muted mb-0">You can type your questions using our rich editor, or upload a file/picture.</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-md-5 pt-md-5 mt-4 pt-2">
                        <div class="card features feature-clean work-process bg-transparent  border-0 text-center">
                            <div class="icons text-primary text-center mx-auto">
                                <i class="far fa-file-alt rounded h3"></i>
                            </div>

                            <div class="card-body">
                                <h4 class="title text-dark">Get Answers</h4>
                                <p class="text-muted mb-0">Your answers will be emailed to you with steps and explanations.</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section><!--end section-->

        <section class="section bg-light">
        <div class="container mt-20">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h4 class="title mb-4">100+ Subjects..Round the clock.</h4>
                            <p class="text-muted para-desc mx-auto mb-0"><span class="text-primary font-weight-bold">XPressTutor.com</span> covers more than 100 subjects and specialization with a strong team of experienced tutors located across the globe. This ensures top quality, round the clock availability and quick turnaround.</p>

                            <div class="mt-4">
                                <a href="/payment/price-check" class="btn btn-primary mt-2 mr-2">Get Started Now</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

        </section><!--end section-->
{% endblock %}
{% block body_end %}
    <!-- Typed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        var typed = new Typed('.element', {
            strings: ["Statistics", "Economics", "Mathematics", "Programming", "Finance", "Engineering"],
            typeSpeed: 100,
            backDelay: 2000
        });
        // ----- COUNTER ----- //
        var a = 0;
        $(window).scroll(function() {
            var oTop = $('#counter').offset().top - window.innerHeight;
            if (a == 0 && $(window).scrollTop() > oTop) {
                $('.counter-value').each(function() {
                    var $this = $(this),
                        countTo = $this.attr('data-count');
                    $({
                        countNum: $this.text()
                    }).animate({
                            countNum: countTo
                        },

                        {
                            duration: 2000,
                            easing: 'swing',
                            step: function() {
                                $this.text(Math.floor(this.countNum));
                            },
                            complete: function() {
                                $this.text(this.countNum);
                                //alert('finished');
                            }

                        });
                });
                a = 1;
            }
        });
    </script>
{% endblock %}