{% extends "main/base.html" %}
{% load static %}
{% block content %}
            {% include 'main/navbar_dark.html' %}

<!-- Hero Start -->
        <section class="bg-half-260 pb-lg-0 pb-md-4 bg-primary d-table w-100">
            <div class="bg-overlay bg-black" style="opacity: 0.8;"></div>
            <div class="container">
                <div class="row position-relative" style="z-index: 1;">
                    <div class="col-md-7 col-12 mt-lg-5">
                        <div class="title-heading">
                            <h1 class="heading text-white title-dark mb-0">{{data.h1}}</h1>
                            <h1 class="heading text-white title-dark mb-4">{{ data.h2 }}</h1>
                            <p class="para-desc text-white-50">{{ data.p1|safe }}</p>
                            <div class="watch-video mt-4 pt-2">
                                <a href="{{ data.btn_url }}" class="btn btn-primary mb-2">{{ data.btn_text }}</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-5 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="shape-before">
                            <div class="carousel-cell"><img src="{% static "xt/img/boy_reading.png" %}" class="img-fluid rounded-md" alt=""></div>
                            <img src="{% static "theme/images/shapes/shape1.png" %}" class="img-fluid shape-img" alt="">
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- Hero End -->
    <div class="container mt-100 mt-60 mb-xl-5">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title">
                    <h4 class="title mb-4"><span class="badge badge-secondary badge-pill">100+ Subjects <i class="far fa-file-alt ml-3"></i></span> <span class="badge badge-secondary badge-pill ml-4">Round the clock <i class="far fa-clock ml-3"></i></span> </h4>
                    <p class="text-muted para-desc mx-auto mb-4"><span class="text-primary font-weight-bold">XpressTutor</span> covers more than 100 subjects and specialization with a strong team of experienced tutors located across the globe. This ensures top quality, round the clock availability and a quick turnaround.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->


{% endblock %}