{% load static %}
<!-- Navbar STart -->
        <header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a class="logo" href="/">
                        <img src="{% static "xt/img/logo-dark.png" %}" height="48" alt="">
                    </a>
                </div>
                <div class="buy-button">
                    <span class="btn btn-icon btn-pills btn-primary"><i data-feather="dollar-sign" class="fea icon-sm"></i></span>
                </div><!--end login button-->
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>


                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li><a href="/" class="sub-menu-item">Home</a></li>
                        <li><a href="/payment/price-check" class="sub-menu-item">Pricing</a></li>
                        <li class="has-submenu parent-menu-item">
                            <a href="javascript:void(0)">Subjects</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="/help/statistics" class="sub-menu-item">Statistics</a></li>
                                <li><a href="/help/mathematics" class="sub-menu-item">Mathematics</a></li>
                                <li><a href="/help/physics" class="sub-menu-item">Physics</a></li>
                                <li><a href="/help/programming-database" class="sub-menu-item">Programming & Database</a></li>
                                <li><a href="/help/management-finance" class="sub-menu-item">Management & Finance</a></li>
                                <li><a href="/help/economics" class="sub-menu-item">Economics</a></li>
                                <li><a href="/help/engineering" class="sub-menu-item">Engineering</a></li>
                                <li><a href="/help/other-subjects" class="sub-menu-item">Others</a></li>
                            </ul>
                        </li>
                        <li><a href="/about/faqs" class="sub-menu-item">FAQs</a></li>
                        <li><a href="/about/contact" class="sub-menu-item">Contact</a></li>
                    </ul><!--end navigation menu-->
                    <div class="buy-menu-btn d-none">
                        <a href="/payment/price-check" target="_blank" class="btn btn-primary">Get Expert Help</a>
                    </div><!--end login button-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->
        <!-- Navbar End -->

