{% extends "main/base.html" %}
{% load static %}
{% block content %}
        {% include 'main/navbar_light.html' %}
        <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100">
            <!--div class="bg-overlay bg-overlay-white"></div-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title">Contact Us</h4>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">About</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->
        <!-- Start Contact -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 pt-2">
                        <div class="card shadow rounded border-0">
                            <div class="card-body py-5">
                                <h4 class="card-title">Get In Touch !</h4>
                                <div class="custom-form mt-3">
                                    <div id="message">
                                        {% include 'main/flash_message.html' %}
                                    </div>
                                    <form method="post" name="contact-form" id="id_contact-form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="form-label">Your Name <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="name" id="id_name" type="text" class="form-control ps-5" placeholder="John Doe">
                                                </div>
                                            </div><!--end col-->

                                            <div class="col-md-12 mt-3">
                                                <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="at-sign" class="fea icon-sm icons"></i>
                                                    <input name="email" id="id_email" type="email" class="form-control ps-5" placeholder="john.doe@gmail.com">
                                                </div>
                                            </div><!--end col-->
                                            <div class="col-md-12 mt-3">
                                                <label class="form-label">Message</label>
                                                <div class="form-group position-relative">
                                                    <textarea name="message" id="id_message" rows="4" class="form-control pl-5" placeholder="Your message here."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-4 mb-4">
                                                        <div class="g-recaptcha" data-sitekey="6LdosVQUAAAAAPLi6kp5c4Z8cjuN9d3Uu7j7tZxc"></div>

                                            </div>
                                        </div><!--end row-->
                                        <div class="row">
                                            <div class="col-sm-12 text-center d-grid gap-2">
                                                <input type="submit" id="submit" name="send" class="btn btn-primary btn-block" value="Send Message">
                                                <div id="simple-msg"></div>
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </form><!--end form-->
                                </div><!--end custom-form-->
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 pl-md-3 pr-md-3 pt-2">
                        <div class="card map map-height-two rounded map-gray border-0">
                            <div class="card-body p-0">
                                <img src="{% static "xt/img/contact.jpg" %}" style="max-height: 600px;">
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card contact-detail text-center border-0">
                            <div class="card-body p-0">
                                <div class="icon">
                                   <i class="far fa-comment-dots fa-3x text-primary"></i>

                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Chat</h4>
                                    <p class="text-muted">Chat with a real person using the bottom right button.</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card contact-detail text-center border-0">
                            <div class="card-body p-0">
                                <div class="icon">
                                    <i class="far fa-envelope-open-text fa-3x text-primary"></i>

                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Email</h4>
                                    <p class="text-muted">If you have a file or larger text, email is preferred. In most cases, we respond within 4 hrs.</p>
                                    <a href="mailto:support@xpresstutor.com" class="text-primary">support@xpresstutor.com</a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card contact-detail text-center border-0">
                            <div class="card-body p-0">
                                <div class="icon">
                                    <i class="far fa-map-marker-alt fa-3x text-primary"></i>

                                </div>
                                <div class="content mt-3">
                                    <h4 class="title font-weight-bold">Location</h4>
                                    <p class="text-muted">Coffeen Ave, Sheridan, Wyoming, <br>USA 82801</p>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End contact -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}