{% extends "main/../main/base.html" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block content %}
            {% include 'main/navbar_light.html' %}

            <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100"  style="background: url('static/images/contact-detail.jpg') center center;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title"> Frequently Asked Questions </h4>

                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">About</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">FAQs</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

    <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

    <!-- Start Section -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-5 col-12 d-none d-md-block">
                    <div class="rounded shadow p-4 sticky-bar">
                        <ul class="list-unstyled sidebar-nav mb-0 py-0" id="navmenu-nav">
                            <li class="navbar-item p-0"><a href="#general" class="h6 text-dark navbar-link">General Questions</a></li>
                            <li class="navbar-item mt-3 p-0"><a href="#privacy" class="h6 text-dark navbar-link">Privacy & Security</a></li>
                            <li class="navbar-item mt-3 p-0"><a href="#refund" class="h6 text-dark navbar-link">Refund Policy</a></li>
                        </ul>
                    </div>
                </div><!--end col-->

                <div class="col-lg-8 col-md-7 col-12">
                    <div class="section-title" id="general">
                        <h4>General Questions</h4>
                    </div>

                    <div class="accordion mt-4 pt-2" id="generalquestions">
                        {% for f in faqs.general %}
                        <div class="accordion-item rounded mb-2">
                            <h2 class="accordion-header" id="heading-gen-{{ forloop.counter }}">
                                <button class="accordion-button border-0 bg-light {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-gen-{{ forloop.counter }}"
                                        aria-expanded="true" aria-controls="collapse-gen-{{ forloop.counter }}">
                                    {{ f.question }}
                                </button>
                            </h2>
                            <div id="collapse-gen-{{ forloop.counter }}" class="accordion-collapse border-0 collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-gen-{{ forloop.counter }}"
                                 data-bs-parent="#generalquestions">
                                <div class="accordion-body text-muted bg-white">
                                    {{ f.answer }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="section-title mt-5" id="privacy">
                        <h4>Privacy & Security</h4>
                    </div>
                    <div class="accordion mt-4 pt-2" id="privacyquestions">
                        {% for f in faqs.privacy %}
                            <div class="accordion-item rounded mb-2">
                                <h2 class="accordion-header" id="heading-priv-{{ forloop.counter }}">
                                    <button class="accordion-button border-0 bg-light {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-priv-{{ forloop.counter }}"
                                            aria-expanded="true" aria-controls="collapse-priv-{{ forloop.counter }}">
                                        {{ f.question }}
                                    </button>
                                </h2>
                                <div id="collapse-priv-{{ forloop.counter }}" class="accordion-collapse border-0 collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-priv-{{ forloop.counter }}"
                                     data-bs-parent="#privacyquestions">
                                    <div class="accordion-body text-muted bg-white">
                                        {{ f.answer }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="section-title mt-5" id="refund">
                        <h4>Refund Policy</h4>
                    </div>

                    <div class="accordion mt-4 pt-2" id="refundquestions">
                        {% for f in faqs.refund %}
                            <div class="accordion-item rounded mb-2">
                                <h2 class="accordion-header" id="heading-ref-{{ forloop.counter }}">
                                    <button class="accordion-button border-0 bg-light {% if not forloop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ref-{{ forloop.counter }}"
                                            aria-expanded="true" aria-controls="collapse-ref-{{ forloop.counter }}">
                                        {{ f.question }}
                                    </button>
                                </h2>
                                <div id="collapse-ref-{{ forloop.counter }}" class="accordion-collapse border-0 collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-ref-{{ forloop.counter }}"
                                     data-bs-parent="#refundquestions">
                                    <div class="accordion-body text-muted bg-white">
                                        {{ f.answer }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="d-flex align-items-center features feature-clean shadow rounded p-4">
                        <div class="icons text-primary text-center">
                            <i class="uil uil-envelope-check d-block rounded h3 mb-0"></i>
                        </div>
                        <div class="flex-1 content ms-4">
                            <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Get in Touch !</a></h5>
                            <p class="text-muted mb-0">if you have a question which is not answered here.</p>
                            <div class="mt-2">
                                <a href="/about/contact" class="btn btn-sm btn-soft-primary">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="d-flex align-items-center features feature-clean shadow rounded p-4">
                        <div class="icons text-primary text-center">
                            <i class="uil uil-graduation-cap d-block rounded h3 mb-0"></i>
                        </div>
                        <div class="flex-1 content ms-4">
                            <h5 class="mb-1"><a href="javascript:void(0)" class="text-dark">Get Expert Help</a></h5>
                            <p class="text-muted mb-0">Check price and upload your assignment.</p>
                            <div class="mt-2">
                                <a href="/payment/price-check" class="btn btn-sm btn-soft-primary">Check Price</a>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Section -->
{% endblock %}