{% extends "main/base.html" %}
{% load static %}
{% block content %}
    {% include 'main/navbar_light.html' %}
    <!-- Hero Start -->
    <section class="bg-half bg-light d-table w-100">
        <!--div class="bg-overlay bg-overlay-white"></div-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title">{{ subject }} Help</h4>
                        <div class="page-next">
                            <nav aria-label="breadcrumb" class="d-inline-block">
                                <ul class="breadcrumb bg-white rounded shadow mb-0">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Subjects</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ subject }}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>  <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Start -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="me-lg-4">
                        <img src="{% static "xt/img/programming.jpg" %}" class="img-fluid" alt="">
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="section-title">
                        <h6 class="text-primary">24/7 Online Tutor</h6>
                        <h4 class="title mb-4">{{ subject }} Tutor Help</h4>
                        <p class="text-muted para-desc">XpressTutor.com provides expert academic help in Python, Java, C++, SQL, Javascript, HTML/CSS,  and other technologies with top {{ subject }} tutors around the globe.</p>
                        <p class="text-muted para-desc mb-0">Get an A+ grade in {{ subject }} with top quality tutor help for your {{ subject|lower }} assignments. Details step by step solution of {{ subject }} questions will help you gain a stronger foundation in {{ subject }}. All the questions are checked for plagiarism and undergo a stringent quality inspection.</p>

                        <div class="mt-4">
                            <a href="/payment/price-check" class="btn btn-primary">Get {{ subject }} Help <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-4">{{ subject }} Help Topics</h4>
                        <p class="text-muted mx-auto para-desc mb-0">Though not exhaustive below of some example topics where our tutors can provide {{ subject|lower }} <span class="text-primary fw-bold">assignment & exam help</span>. With 100+ {{ subject|lower }} tutors, XpressTutor.com provides help in each and every topic in {{ subject }}</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-window"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Python</h5>
                            <p class="para text-muted mb-0">data types, functions, file handling, object & class, regular expressions, iterator, generator, decorator, closure, django, pandas</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-window display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-brackets-curly"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Java</h5>
                            <p class="para text-muted mb-0">literals, variables, operators, array, classes, OOPS, generics, interface, packages, synchronization, multi-threading,  exception handling </p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-brackets-curly display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-brackets-curly"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>C/ C++</h5>
                            <p class="para text-muted mb-0">decision control, function, array, pointers, classes and objects, constructors, file handling, inheritence and polymorphism</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-brackets-curly display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-brackets-curly"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Javascript</h5>
                            <p class="para text-muted mb-0">variables, hoisting, functions, classes & objects, async/await, promise, this, events/ events listeners, scope, closure, callbacks</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-brackets-curly display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-database"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>RDBMS/ SQL</h5>
                            <p class="para text-muted mb-0">SELECT, INSERT, UPDATE, DELETE, UNION, MySQL, MariaDB, PostgreSQL, NoSQL, MongoDB, in memory database, redis </p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-database display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-browser"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Web Design</h5>
                            <p class="para text-muted mb-0">HTML/CSS, DOM, jQuery, ajax, react js, vue js, angular js, html widgets, progressive apps, nginx, node js, load balancer </p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-browser display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-android"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Android & iOS Apps</h5>
                            <p class="para text-muted mb-0">user interface design, Flutter, Swift, widgets, micro-services, portables apps, app hosting, security</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-android display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-cloud-database-tree"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Data Structures</h5>
                            <p class="para text-muted mb-0">array, big o notation, linked list, stack, queue, binary tree, binary search tree, heap, hashing, graph, matrix</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-cloud-database-tree display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-12 mt-4 pt-2 text-center">
                    <a href="/payment/price-check" class="btn btn-primary">Connect with a {{ subject }} Tutor <i class="uil uil-graduation-cap ms-2"></i></a>
                </div>

            </div><!--end row-->
        </div><!--end container-->

        <div class="container-fluid mt-100 mt-60">
            <div class="rounded-md bg-primary py-5 px-4">
                <div class="row py-md-5 py-4">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="section-title">
                                    <h6 class="text-white title-dark mb-3">24/7 Availability</h6>
                                    <h2 class="text-white title-dark mb-0">Why XpressTutor?</h2>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <ul class="list-unstyled mb-0 ms-lg-5">
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Affordable Pricing</li>
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Top Quality {{ subject }} Tutors</li>
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Security & Privacy</li>
                                </ul>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div><!--end row-->
            </div><!--end div-->
        </div><!--end container-fluid-->
    </section>
    <!-- Key Feature Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">{{ subject }} Languages</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Working in <span class="text-primary fw-bold">{{ subject }}</span> often requires designing and coding in a language like Python, Java or C++. Our {{ subject|lower }} tutors can provide homework, assignment and exam help in the following languages. </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/python.svg" %}" style="max-height: 50px;" alt="python help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Python</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/java.png" %}" style="max-height: 50px;" alt="java help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Java</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/c.svg" %}" style="max-height: 50px;" alt="c c++ help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3"> C/ C++</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/sql.png" %}" style="max-height: 50px;" alt="sql help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">RDBMS/SQL</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/html5.png" %}" style="max-height: 50px;" alt="html css help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">HTML/CSS</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/javascript.png" %}" style="max-height: 50px;" alt="javascript help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Javascript</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/fltter.png" %}" style="max-height: 50px;" alt="flutter help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/php.svg" %}" style="max-height: 50px;" alt="php help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">PHP</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/prog/ruby.svg" %}" style="max-height: 50px;" alt="ruby rails help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Ruby/ Rails</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-12 mt-4 pt-2 text-center">
                    <a href="/payment/price-check" class="btn btn-primary">Check Price <i class="uil uil-angle-right"></i></a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Key Feature End -->
    <section class="bg-light">
        <div class="container mt-100 mt-60">
            <div class="row align-items-center mb-4 pb-2 pt-5">
                <div class="col-md-6">
                    <div class="section-title">
                        <h4 class="title mb-md-0 mb-4">Frequently asked <br> questions</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-title">
                        <p class="text-muted para-desc mb-0">More than 100,000 students have trusted <span class="text-primary fw-bold">XpressTutor.com</span> with their assignments and homework help in {{ subject }}.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0">How does <span class="text-primary">XpressTutor</span> work ?</h5>
                            <p class="answer text-muted mb-0">You can take a quick quote from our price calculator, make payment and upload your {{ subject|lower }} assignment. We will send you details {{ subject|lower }} solution on your email id within specified timeline.</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> I need it in 1-3 hours ?</h5>
                            <p class="answer text-muted mb-0">If you need assignment solution in few hours or realtime, connect with us on chat or email (<span class="text-primary">support@xpresstutor.com</span>). We will assign a {{ subject|lower }} tutor for the given slot. </p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> Do you guarantee correct answers ?</h5>
                            <p class="answer text-muted mb-0">Yes. We guarantee correct answers and have a transparent refund policy in rare cases the answers are incorrect. Please read XpressTutor <a href="/about/faqs">FAQs</a> to know more.</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> Will my <span class="text-primary">{{ subject|lower }} answers</span> match with other user's answers ?</h5>
                            <p class="answer text-muted mb-0">No. Each and every answer in XpressTutor is solved by a different tutor and goes for plagiarism/similarity check.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row mt-5 pt-4 justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title mb-3">Have Question ? Get in touch!</h4>
                        <p class="text-muted para-desc mx-auto">If you have a question or need a quick quote please send your {{ subject }} assignment/homework to <span class="text-primary fw-bold">support@xpresstutor.com</span>.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="py-md-4 py-5 bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 col-12 text-center text-md-start">
                    <h4 class="text-white title-dark mb-0">Affordable pricing, as low as</h4>
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 text-center">
                    <div class="d-flex justify-content-center">
                        <span class="h6 text-white-50 mb-0 mt-2">$</span>
                        <span class="price text-light title-dark h1 mb-0">5</span>
                        <span class="h6 text-white-50 align-self-end mb-1">/answer</span>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 text-center text-md-end">
                    <a href="/payment/price-check" class="btn btn-warning">Price Calculator</a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

{% endblock %}