{% extends "main/base.html" %}
{% load static %}
{% block content %}
        {% include 'main/navbar_light.html' %}
        <!-- Hero Start -->
        <section class="bg-half bg-light d-table w-100">
            <!--div class="bg-overlay bg-overlay-white"></div-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title">{{ subject }} Help</h4>
                            <div class="page-next">
                                <nav aria-label="breadcrumb" class="d-inline-block">
                                    <ul class="breadcrumb bg-white rounded shadow mb-0">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">Subjects</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ subject }}</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->

    <!-- Start -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="me-lg-4">
                        <img src="{% static "xt/img/stat.png" %}" class="img-fluid" alt="">
                    </div>
                </div><!--end col-->

                <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <div class="section-title">
                        <h6 class="text-primary">24/7 Online Tutor</h6>
                        <h4 class="title mb-4">{{ subject }} Tutor Help</h4>
                        <p class="text-muted para-desc">XpressTutor.com provides expert academic help in {{ subject }} and other subjects with top {{ subject }} tutors around the globe.</p>
                        <p class="text-muted para-desc mb-0">Get an A+ grade in {{ subject }} with top quality tutor help for your {{ subject|lower }} assignments. Details step by step solution of {{ subject }} questions will help you gain a stronger foundation in {{ subject }}. All the questions are checked for plagiarism and undergo a stringent quality inspection.</p>

                        <div class="mt-4">
                            <a href="/payment/price-check" class="btn btn-primary">Get {{ subject }} Help <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title mb-4">{{ subject }} Help Topics</h4>
                        <p class="text-muted mx-auto para-desc mb-0">Though not exhaustive below of some example topics where our tutors can provide {{ subject|lower }} <span class="text-primary fw-bold">assignment & exam help</span>. With 100+ {{ subject|lower }} tutors, XpressTutor.com provides help in each and every topic in {{ subject }}</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-sigma"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Descriptive {{ subject }}</h5>
                            <p class="para text-muted mb-0">frequency distribution, mean, median, mode, variance, standard deviation, bar plot, stem plot, histogram, box plot, scatter plot</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-sigma display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-server-alt"></i>
                            </span>
                            <div class="card-body p-0 content">
                                <h5>Design of Experiments</h5>
                                <p class="para text-muted mb-0">experiementation, control, randomization, replication, simple, stratified and random sampling, sampling distribution</p>
                            </div>
                            <div class="position-absolute top-0 end-0">
                                <i class="uil uil-server-alt display-1 opacity-05"></i>
                            </div>
                        </div>
                    </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-adjust-circle"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Basics of Probability</h5>
                            <p class="para text-muted mb-0">set theory, addition rule, multiplication rule, conditional probability,Bayes theorem, random variable, probability distributions</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-adjust-circle display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-bell"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Normal Distribution</h5>
                            <p class="para text-muted mb-0">normal curve, z score, finding scores, standard normal curve, sampling distribution of mean, central limit theorem</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-bell display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-panel-add"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Other Distributions</h5>
                            <p class="para text-muted mb-0">probability mass function, Bernoulli trials, binomial distribution, Poisson distribution, exponential distribution </p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-panel-add display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-eye-slash"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Hypothesis Test</h5>
                            <p class="para text-muted mb-0">p-value, significance level, power, null hypothesis, alternative hypothesis, critical value, Type I and Type II errors</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-eye-slash display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-slider-h-range"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Confidence Intervals</h5>
                            <p class="para text-muted mb-0">t-test, z-test, point estimate, confidence interval for mean, interpretation of confidence interval, hypothesis test vs confidence interval</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-slider-h-range display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-trees"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>t-test</h5>
                            <p class="para text-muted mb-0">t-distribution, degrees of freedom, one sample t-test, paired t-test, two sample t-test, equal variance and unequal variance test</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-trees display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->



                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-create-dashboard"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>ANOVA</h5>
                            <p class="para text-muted mb-0">Analysis of variance, F-test, effect size, one way ANOVA, two-way ANOVA, repeated measures ANOVA</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-create-dashboard display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-layer-group"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Chi Square Test</h5>
                            <p class="para text-muted mb-0">Chi Square distribution, test of proportion, test of independence, test of equal variance</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-layer-group display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-chart-line"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Linear Regression</h5>
                            <p class="para text-muted mb-0">least square regression, multiple regression, interpretation of r<sup>2</sup>, linear model</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-chart-line display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                    <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                            <span class="h1 icon2 text-primary">
                                <i class="uil uil-monitor-heart-rate"></i>
                            </span>
                        <div class="card-body p-0 content">
                            <h5>Advanced {{ subject }}</h5>
                            <p class="para text-muted mb-0">Mann Whitney rest, Kruskal-Wallis test, Wilcoxon test, logistic regression, principal components analysis</p>
                        </div>
                        <div class="position-absolute top-0 end-0">
                            <i class="uil uil-monitor-heart-rate display-1 opacity-05"></i>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-12 mt-4 pt-2 text-center">
                    <a href="/payment/price-check" class="btn btn-primary">Connect with a {{ subject }} Tutor <i class="uil uil-graduation-cap ms-2"></i></a>
                </div>
            </div><!--end row-->
        </div><!--end container-->

        <div class="container-fluid mt-100 mt-60">
            <div class="rounded-md bg-primary py-5 px-4">
                <div class="row py-md-5 py-4">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="section-title">
                                    <h6 class="text-white title-dark mb-3">24/7 Availability</h6>
                                    <h2 class="text-white title-dark mb-0">Why XpressTutor?</h2>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-6 col-md-6 col-12 mt-4 pt-2 mt-sm-0 pt-sm-0">
                                <ul class="list-unstyled mb-0 ms-lg-5">
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Affordable Pricing</li>
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Top Quality {{ subject }} Tutors</li>
                                    <li class="text-white-50 my-2"><i data-feather="arrow-right-circle" class="fea icon-ex-md me-1"></i> Security & Privacy</li>
                                </ul>
                            </div><!--end col-->

                        </div><!--end row-->
                    </div><!--end container-->
                </div><!--end row-->
            </div><!--end div-->
        </div><!--end container-fluid-->
    </section>
    <!-- Key Feature Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">{{ subject }} Tools</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Working in <span class="text-primary fw-bold">{{ subject }}</span> requires cleaning and analysing large data, creating graphs and testing hypothesis. Our {{ subject|lower }} tutors can provide homework, assignment and exam help with the following tools. </p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/r_logo.svg" %}" style="max-height: 50px;" alt="r studio help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">R/ R Studio</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/spss.png" %}" style="max-height: 50px;" alt="spss help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/minitab.png" %}" style="max-height: 50px;">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Minitab</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/excel.png" %}" style="max-height: 50px;" alt="excel toolpack help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Excel with Toolpack</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/sas.svg" %}" style="max-height: 50px;" alt="sas help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/stata.gif" %}" style="max-height: 50px;" alt="stata help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/python.svg" %}" style="max-height: 50px;" alt="python data science help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">Python/ pandas</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/stat_crunch.png" %}" style="max-height: 50px;" alt="stat crunch help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="d-flex key-feature align-items-center p-3 rounded shadow">
                        <div class="img-rounded">
                            <img src="{% static "xt/img/stat/jmp.png" %}" style="max-height: 50px;" alt="jmp help">
                        </div>
                        <div class="flex-1">
                            <h4 class="title mb-0 ms-3">.</h4>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-12 mt-4 pt-2 text-center">
                    <a href="/payment/price-check" class="btn btn-primary">Check Price <i class="uil uil-angle-right"></i></a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- Key Feature End -->
    <section class="bg-light">
        <div class="container mt-100 mt-60">
            <div class="row align-items-center mb-4 pb-2 pt-5">
                <div class="col-md-6">
                    <div class="section-title">
                        <h4 class="title mb-md-0 mb-4">Frequently asked <br> questions</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-title">
                        <p class="text-muted para-desc mb-0">More than 100,000 students have trusted <span class="text-primary fw-bold">XpressTutor.com</span> with their assignments and homework help in {{ subject }}.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0">How does <span class="text-primary">XpressTutor</span> work ?</h5>
                            <p class="answer text-muted mb-0">You can take a quick quote from our price calculator, make payment and upload your {{ subject|lower }} assignment. We will send you details {{ subject|lower }} solution on your email id within specified timeline.</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> I need it in 1-3 hours ?</h5>
                            <p class="answer text-muted mb-0">If you need assignment solution in few hours or realtime, connect with us on chat or email (<span class="text-primary">support@xpresstutor.com</span>). We will assign a {{ subject|lower }} tutor for the given slot. </p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> Do you guarantee correct answers ?</h5>
                            <p class="answer text-muted mb-0">Yes. We guarantee correct answers and have a transparent refund policy in rare cases the answers are incorrect. Please read XpressTutor <a href="/about/faqs">FAQs</a> to know more.</p>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="col-md-6 col-12 mt-4 pt-2">
                    <div class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle fea icon-ex-md text-primary me-2 mt-1"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                        <div class="flex-1">
                            <h5 class="mt-0"> Will my <span class="text-primary">{{ subject|lower }} answers</span> match with other user's answers ?</h5>
                            <p class="answer text-muted mb-0">No. Each and every answer in XpressTutor is solved by a different tutor and goes for plagiarism/similarity check.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row mt-5 pt-4 justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title mb-3">Have Question ? Get in touch!</h4>
                        <p class="text-muted para-desc mx-auto">If you have a question or need a quick quote please send your {{ subject }} assignment/homework to <span class="text-primary fw-bold">support@xpresstutor.com</span>.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="py-md-4 py-5 bg-primary">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6 col-12 text-center text-md-start">
                    <h4 class="text-white title-dark mb-0">Affordable pricing, as low as</h4>
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 text-center">
                    <div class="d-flex justify-content-center">
                        <span class="h6 text-white-50 mb-0 mt-2">$</span>
                        <span class="price text-light title-dark h1 mb-0">5</span>
                        <span class="h6 text-white-50 align-self-end mb-1">/answer</span>
                    </div>
                </div><!--end col-->
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 text-center text-md-end">
                    <a href="/payment/price-check" class="btn btn-warning">Price Calculator</a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

{% endblock %}